body{
  background:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  min-width: 960px;
  padding:0;
}

div{
  display: block;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #252525;
  line-height: 24px;
  padding: 0;
}

#header{
  margin: 0 auto;
  padding: 44px 0 50px;
  /* background-color: lightblue; */
  text-align: center;
  width: 960px;
}

#header h1{
  font-size: 50px;
  margin: 0 auto;

}

#header a.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 340px;
}

#header h1 a.logo{
  color: #252525;
  text-decoration: none;
}

#header ul{
  margin: 0;
  padding: 56px 0 0;
}

ul{
  display:block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#header ul li{
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 19px;
}

#header ul li a{
  color: #252525;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}

#header ul li a:hover{
  color: #0ba39c;
}

#body {
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
}

#body h1 {
  color: #fff;
  display: inline;
  font-family: poller_oneregular;
  font-size: 35px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#body h1 span {
  background: #252525;
  display: inline-block;
  padding: 15px 28px 12px;
}

#body > div {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#body > div img {
  border: 2px solid #292929;
  margin: 24px 0 0;
  padding: 0;
}

#body > div .article {
  margin: 0 auto;
  padding: 30px 30px 0;
  width: 700px;
}

#body > div .article h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 30px;
}

#body > div .article p {
  margin: 0 0 30px;
}

#footer{
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}

#footer div{
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 960px;
}

#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}

#footer div ul{
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}

#footer div ul li{
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}

#footer div ul li a{
  background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}

#footer div ul li #twitter{
  background-position: 0 0;
}

#footer div ul li #twitter:hover{
  background-position: -44px 0;
}

#footer div ul li #facebook{
  background-position: 0 -44px;
}

#footer div ul li #facebook:hover{
  background-position: -44px -44px;
}

#footer div ul li #googleplus{
  background-position: 0 -88px;
}

#footer div ul li #googleplus:hover{
  background-position: -44px -88px;
}

#footer div ul li #pinterest{
  background-position: 0 -132px;
}

#footer div ul li #pinterest:hover{
  background-position: -44px -132px;
}

@media(max-width: 960px){
  body{
    /* background-color: lightblue; */
    min-width: 960px;
  }

  #header{
    max-width: 800px;
    margin: 0;
  }

  #body{
    width: 800px;
    display: flex;
    flex-direction: column;
  }

  #body img{
    width: 768px;
  }

  #body h2{
    width: 600px;
  }

  #body p{
    width: 600px;
    font-size: 16px;
  }


  #footer div{
    width: 100%;
  }
  #footer div ul{
    display: block;
    float: none;
    margin-left: 300px;
    overflow: hidden;
    width: 256px;
  }
}

@media(max-width: 768px){
  body{
    /* background-color: red; */
  }

  #header{
    width: 768px;
    display: flex;
    flex-direction: column;

  }

  #body{
    min-width: 768px;
  }

  #body h1 span{
    font-size: 18px;
  }

  #body > div{
    width: auto;
  }

  #body img{
    width: 500px;
  }


  #body img{
    width: 480px;
    margin-right: 400px;
  }

  #body h2{
    width: 600px;
  }

  #body p{
    width: 600px;
    font-size: 16px;
  }
}

@media(max-width: 500px){
  body{
    /* background-color: lightgrey; */
  }

  #header{
    min-width: 480px;
  }

  #body h1 span{
    font-size: 16px;
  }

  #body img{
    width: 380px;
  }


  #body{
    min-width: 480px;
  }

  #footer div{
    display: flex;
    flex-direction: column;
  }

}