body{
  background:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  min-width: 960px;
  padding:0;
}


p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#header{
  margin: 0 auto;
  padding: 44px 0 50px;
  text-align: center;
  width: 960px;
}

#header h1{
  font-size: 50px;
  margin: 0 auto;

}

#header a.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 340px;
}

#header h1 a.logo{
  color: #252525;
  text-decoration: none;
}

#header ul{
  margin: 0;
  padding: 56px 0 0;
}

ul{
  display:block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#header ul li{
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 19px;
}

#header ul li a{
  color: #252525;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}

#header ul li a:hover{
  color: #0ba39c;
}

#body{
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
}

#body > div{
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#body span{
  /* width: auto; */
}

#body > ul{
  margin: 0 auto;
  overflow: hidden;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 24px 0 0;
  width: 960px;
}

#body #featured{
  margin: 0 0 13px;
  padding: 0;
  position: relative;
  width: 100%;
}

#body #featured img{
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
}

#body > div img{
  border: 2px solid #252525;
  margin: 24px 0 0;
  padding: 0;
}

#body #featured div{
  left: 50%;
  margin-left: -480px;
  margin-top: -171px;
  padding: 0 0 0 470px;
  position: absolute;
  top: 50%;
  text-align: left;
  width: 490px;
}

#body #featured div h2{
  background: #fff;
  color: #000;
  display: inline-block;
  font-family: 'Poller One', cursive;
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 18px;
  padding: 23px 27px 20px;
  text-transform: uppercase;
  width: 500px;
  text-align: center;
}

#body #featured div span{
  background:#252525;
  color:#fff;
  display: inline-block;
  font-size: 22px;
  margin: 15px 0;
  padding: 12px 27px;
  width: 500px;
}

#body #featured div a{
  background: #0ba39c;
  color:#fff;
  display: inline-block;
  font-size: 20px;
  margin: 15px 0 0;
  padding: 26px 27px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 180px;
}

#body #featured div a:hover{
  background-color:#40ccc5;
}


#body > ul li a{
  color: #000;
  display: block;
  font-family: 'Poller One', cursive;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#body > ul li a img{
  border: 2px solid #1a1a1a;
  display: block;
  margin: 0;
  padding: 0;
  opacity: .8;
  transition: 0.5s ease-in-out;
}

#body > ul li a:hover{
  opacity: 1;
}

#body > ul li a img:hover{
  opacity: 1;
}

#body > ul li a span{
  display: block;
  margin: 0;
  padding: 33px 0 0;
}

#footer{
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}

#footer div{
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 960px;
}

#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}

#footer div ul{
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}

#footer div ul li{
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}

#footer div ul li a{
  background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}

#footer div ul li #twitter{
  background-position: 0 0;
}

#footer div ul li #twitter:hover{
  background-position: -44px 0;
}

#footer div ul li #facebook{
  background-position: 0 -44px;
}

#footer div ul li #facebook:hover{
  background-position: -44px -44px;
}

#footer div ul li #googleplus{
  background-position: 0 -88px;
}

#footer div ul li #googleplus:hover{
  background-position: -44px -88px;
}

#footer div ul li #pinterest{
  background-position: 0 -132px;
}

#footer div ul li #pinterest:hover{
  background-position: -44px -132px;
}

@media(max-width: 1500px){
  body{
    /* background-color: lightblue; */
  }

  #body #featured img{
    width: 100%;
    height: 550px;
  }

  #body #featured div h2{
    width: 450px;
    font-size: 20px;
  }

  #body #featured div span{
    font-size: 18px;
    width: 450px;
  }
}

@media(max-width: 1000px){
  body{
    /* background-color: red; */
  }

  #body #featured img{
    width: 100%;
    height: 400px;
  }

  #body #featured div{
    margin-left: -560px;
    margin-top: -171px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    width: 490px;
  }

  #body #featured div h2{
    width: 370px;
    font-size: 16px;
    height: 50px;
  }

  #body #featured div span{
    font-size: 14px;
    width: 370px;
  }

  #body #featured div a.more{
    font-size: 16px;
    padding: 10px 10px;
  }
}

@media(max-width: 768px){
  body{
    /* background-color: lightgrey; */
  }

  #header{
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: -250px;
  }

  #header h1{
    margin: 0 0;
    width: auto;
  }

  #header a.logo{
    width: 300px;
  }

  #header a.logo img{
    width: 100%;
  }

  #body #featured{
    display: flex;
  }

  #body #featured div{
    left: 0%;
    margin-left: 20%;
    margin-top: 50px;
    padding: 0 0 0 0px;
    position: absolute;
    top: 100%;
    text-align: left;
    /* width: 300px; */
  }

  #body > ul{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
  }

  #body > ul li a{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin-left: 23%;
  }

  #footer div{
    width: auto;
  }

  #footer div ul{
    float:none;
  }
}